<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>账号查询（Bootstrap）</title>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}">
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap-theme.min.css">
<!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

<![endif]-->
<style>
.bs-docs-home
{
	background-color: #ffffff;
	background-image: url(line.png);
}
table {

}
select{
font-size:25px;
}
</style>
</head>
<body class="bs-docs-home">
	<!--<div class="container theme-showcase">-->
	<div>
		<h1 style=" line-height:2em;"></h1><br/>
		<div class="row">
			<!--<div class="col-sm-3"></div>-->
			<div class="col-sm-2"></div>
			<!--<div class="col-sm-6">-->
			<div class="col-sm-6" style="width:100%;">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<!--<h3 class="panel-title"><strong>账号查询</strong></h3>-->
					<h2><strong>账号查询</strong></h2>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table id="resultTab" style="height:40px;" border="0" cellspacing="0" cellpadding="0" class="table">
						</table>
						<p>{{message1}}</p>
						</div>
				</div>
			</div>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>


    <script>
    var d_maps={{ d_maps|safe }};
    </script>
 <script src="{% static 'js/query_map.js' %}"></script>
</body>
</html>